name: Build

on: [push, workflow_dispatch]

jobs:
    build:
        runs-on: ubuntu-24.04

        steps:
            - uses: actions/checkout@v5
            - name: Setup node
              uses: actions/setup-node@v6.1.0
              with:
                  node-version-file: ".nvmrc"
                  cache: "npm"
            - name: Install
              run: npm ci
            - name: Build
              run: npm run build
