name: Build

on: [push]

jobs:
    build:
        runs-on: ubuntu-20.04

        steps:
            - uses: actions/checkout@v3
            - name: Switch node version
              shell: bash -l {0}
              run: nvm install
            - name: Install
              run: npm ci
            - name: Build
              run: npm run build
